@model IEnumerable<BatteryCommander.Web.Models.SoldierEditModel>

@{
    ViewBag.Title = "Bulk Add/Edit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Bulk", "Soldier", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <table>
            <thead>
                <tr>@Html.DisplayNameFor(s => s.FirstOrDefault().Id)</tr>
                <tr>@Html.DisplayNameFor(s => s.FirstOrDefault().Rank)</tr>
                <tr>@Html.DisplayNameFor(s => s.FirstOrDefault().LastName)</tr>
                <tr>@Html.DisplayNameFor(s => s.FirstOrDefault().FirstName)</tr>
                <tr>@Html.DisplayNameFor(s => s.FirstOrDefault().Status)</tr>
            </thead>

            <tbody>
                @Html.EditorForModel()
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}