@model IEnumerable<BatteryCommander.Common.Models.Soldier>

@{
    ViewBag.Title = "Soldiers";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group" role="group">
    @Html.ActionLink("Add a Soldier", "New", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Bulk Add/Edit Soldiers", "Bulk", null, new { @class = "btn btn-default" })
    @Html.ActionLink("View All", "List", new { activeOnly = false }, new { @class = "btn btn-default" })
</div>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Rank)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().LastName)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().FirstName)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Group)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Position)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().MOS)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Notes)</th>
        <th></th>
    </tr>

    @foreach (var soldier in Model)
    {
        <tr>
            <td>@Html.DisplayFor(s => soldier.Rank, new { UseShortName = true })</td>
            <td>@Html.ActionLink(soldier.LastName, "View", new { soldierId = soldier.Id })</td>
            <td>@Html.DisplayFor(s => soldier.FirstName)</td>
            <td>@Html.DisplayFor(s => soldier.Group)</td>
            <td>@Html.DisplayFor(s => soldier.Position)</td>
            <td>@Html.DisplayFor(s => soldier.MOS, new { UseShortName = true })</td>
            <td>@Html.DisplayFor(s => soldier.Notes)</td>
            <td>
                @Html.ActionLink("View", "View", new { soldierId = soldier.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { soldierId = soldier.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>