@model IEnumerable<BatteryCommander.Common.Models.Soldier>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Include Inactive Soldiers", "List", new { activeOnly = false })

@Html.ActionLink("Add a Soldier", "Edit")

@Html.ActionLink("Bulk Add/Edit Soldiers", "Bulk")

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Id)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Rank)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().LastName)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().FirstName)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().MOS)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().IsDutyMOSQualified)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Status)</th>
        <th>@Html.DisplayNameFor(s => s.FirstOrDefault().Notes)</th>
        <th></th>
    </tr>

    @foreach (var soldier in Model)
    {
        <tr>
            <td>@Html.ActionLink("" + soldier.Id, "View", new { soldierId = soldier.Id })</td>
            <td>@Html.DisplayFor(s => soldier.Rank)</td>
            <td>@Html.DisplayFor(s => soldier.LastName)</td>
            <td>@Html.DisplayFor(s => soldier.FirstName)</td>
            <td>@Html.DisplayFor(s => soldier.MOS)</td>
            <td>@Html.DisplayFor(s => soldier.IsDutyMOSQualified)</td>
            <td>@Html.DisplayFor(s => soldier.Status)</td>
            <td>@Html.DisplayFor(s => soldier.Notes)</td>
            <td>@Html.ActionLink("View", "View", new { soldierId = soldier.Id })</td>
        </tr>
    }
</table>