@model BatteryCommander.Common.Models.Soldier

@{
    ViewBag.Title = "View Soldier";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Rank)</td>
        <td>@Html.DisplayFor(model => model.Rank)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.LastName)</td>
        <td>@Html.DisplayFor(model => model.LastName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.FirstName)</td>
        <td>@Html.DisplayFor(model => model.FirstName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Group)</td>
        <td>@Html.DisplayFor(model => model.Group)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Status)</td>
        <td>@Html.DisplayFor(model => model.Status)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.SecurityClearance)</td>
        <td>@Html.DisplayFor(model => model.SecurityClearance)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.MOS)</td>
        <td>@Html.DisplayFor(model => model.MOS)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.IsDutyMOSQualified)</td>
        <td>@Html.DisplayFor(model => model.IsDutyMOSQualified)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.EducationLevelCompleted)</td>
        <td>@Html.DisplayFor(model => model.EducationLevelCompleted)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.ETSDate)</td>
        <td>@Html.DisplayFor(model => model.ETSDate)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Notes)</td>
        <td>@Html.DisplayFor(model => model.Notes)</td>
    </tr>
</table>

<hr />

<h2>@Html.DisplayNameFor(model => model.Qualifications)</h2>

@Html.ActionLink("Add Qualification", "New", "SoldierQualification", new { soldierId = Model.Id }, null) |
@Html.ActionLink("Bulk Update Qualifications", "Update", "SoldierQualification", new { soldierId = Model.Id }, null)

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Qualifications.FirstOrDefault().Qualification)</th>
            <th>@Html.DisplayNameFor(model => model.Qualifications.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(model => model.Qualifications.FirstOrDefault().QualificationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Qualifications.FirstOrDefault().ExpirationDate)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var qual in Model.Qualifications)
        {
            <tr>
                <td>@Html.DisplayFor(q => qual.Qualification)</td>
                <td>@Html.DisplayFor(q => qual.Status)</td>
                <td>@Html.DisplayFor(q => qual.QualificationDate)</td>
                <td>@Html.DisplayFor(q => qual.ExpirationDate)</td>
                <td>@Html.ActionLink("Edit", "Edit", "SoldierQualification", new { soldierId = Model.Id, qualificationId = qual.QualificationId }, null)</td>
            </tr>
        }

    </tbody>

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { soldierId = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>