@model Soldier

<div class="panel panel-default">

    <div class="panel-heading">
        <h1 class="panel-title">@Html.DisplayFor(model => model.Rank) @Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "btn btn-default" })</h1>
    </div>

    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.DateOfBirth)</td>
            <td>@Html.DisplayFor(model => model.DateOfBirth) (@Html.DisplayFor(model => model.Age) y/o)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MilitaryEmail)</td>
            <td>@Html.DisplayFor(model => model.MilitaryEmail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DoDId)</td>
            <td>@Html.DisplayFor(model => model.DoDId)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CivilianEmail)</td>
            <td>@Html.DisplayFor(model => model.CivilianEmail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Gender)</td>
            <td>@Html.DisplayFor(model => model.Gender)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Unit)</td>
            <td>@Html.DisplayFor(model => model.Unit)</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <h2 class="panel-title">@Html.DisplayNameFor(_ => _.APFTs) @Html.ActionLink("Add New", "New", "APFT", new { soldier = Model.Id }, new { @class = "btn btn-default btn-xs" })</h2>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().Date)</th>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().PushUps)</th>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().SitUps)</th>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().Run)</th>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().TotalScore)</th>
                    <th>@Html.DisplayNameFor(_ => _.APFTs.FirstOrDefault().IsPassing)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var apft in Model.APFTs.OrderByDescending(_ => _.Date))
                {
                    <tr>
                        <td>@Html.DisplayFor(_ => apft.Date)</td>
                        <td>@Html.DisplayFor(_ => apft.PushUps)</td>
                        <td>@Html.DisplayFor(_ => apft.SitUps)</td>
                        <td>@Html.DisplayFor(_ => apft.Run)</td>
                        <td>@Html.DisplayFor(_ => apft.TotalScore)</td>
                        <td>
                            @if (apft.IsPassing)
                            {
                                <span class="label label-success">Passing</span>
                            }
                            else
                            {
                                <span class="label label-danger">Failure</span>
                            }
                        </td>
                        <td>@Html.ActionLink("Details", "Details", "APFT", new { apft.Id })</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.APFTs.Count > 1)
        {
            <div id="apft_chart"></div>
        }
    </div>
</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <h2 class="panel-title">@Html.DisplayNameFor(_ => _.ABCPs) @Html.ActionLink("Add New", "New", "ABCP", new { soldier = Model.Id }, new { @class = "btn btn-default btn-xs" })</h2>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(_ => _.ABCPs.FirstOrDefault().Date)</th>
                    <th>@Html.DisplayNameFor(_ => _.ABCPs.FirstOrDefault().Weight)</th>
                    <th>@Html.DisplayNameFor(_ => _.ABCPs.FirstOrDefault().Screening_Weight)</th>
                    <th>@Html.DisplayNameFor(_ => _.ABCPs.FirstOrDefault().IsPassing)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var abcp in Model.ABCPs.OrderByDescending(_ => _.Date))
                {
                    <tr>
                        <td>@Html.DisplayFor(_ => abcp.Date)</td>
                        <td>@Html.DisplayFor(_ => abcp.Weight)</td>
                        <td>@Html.DisplayFor(_ => abcp.Screening_Weight)</td>
                        <td>
                            @if (abcp.IsPassing)
                            {
                                <span class="label label-success">Passing</span>
                            }
                            else
                            {
                                <span class="label label-danger">Failure</span>
                            }
                        </td>
                        <td>@Html.ActionLink("Details", "Details", "ABCP", new { abcp.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    @using (Html.BeginForm("Delete", "Soldier", new { Model.Id }, FormMethod.Post))
            {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
    }
</div>

@section Scripts
{
    @{
        var chart_data =
            Model
            .APFTs
            .OrderBy(apft => apft.Date)
            .Select(apft => new
            {
                date = apft.Date.ToString("yyyy-MM-dd"),
                score = apft.TotalScore
            })
            .ToList();
    }

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        var result = JSON.parse('@Json.Serialize(chart_data)');

        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();

            data.addColumn('date', 'Date');
            data.addColumn('number', 'Score');

            for (var i = 0; i < result.length; i++)
            {
                data.addRow([new Date(result[i].date), result[i].score]);
            }

            var options = {
                title: 'APFT Scores',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('apft_chart'));

            chart.draw(data, options);
        }
    </script>
}