@model IEnumerable<Soldier>

@{
    ViewBag.Title = "Battle Roster";
}

<div class="page-header">
    <h1>@ViewBag.Title <span class="badge">@Model.Count()</span> @Html.ActionLink("View All", "All", "Soldiers", null, new { @class = "btn btn-default" }) @Html.ActionLink("Add New", "New", "Soldiers", null, new { @class = "btn btn-default" })</h1>
</div>

<table class="table table-striped display nowrap" id="dt" width="100%" data-page-length="25">
    <thead>
        <tr>
            <th data-priority="1">Details</th>
            <th data-priority="2">@Html.DisplayNameFor(_ => _.FirstOrDefault().Rank)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.FirstOrDefault().LastName)</th>
            <th data-priority="3">@Html.DisplayNameFor(_ => _.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Unit)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().EducationLevel)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().TimeInGrade)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().TimeTillETS)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().APFTs)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().ABCPs)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().IwqQualified)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().DscaQualified)</th>
            <th>Links</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td>@Html.RouteLink("Details", "Soldier.Details", new { soldier.Id })</td>
                <td data-sort="@((int)soldier.Rank)">@Html.DisplayFor(s => soldier.RankHumanized)</td>
                <td>@Html.DisplayFor(s => soldier.LastName)</td>
                <td>@Html.DisplayFor(s => soldier.FirstName)</td>
                <td>@Html.DisplayFor(s => soldier.Unit)</td>
                <td>@Html.DisplayFor(s => soldier.EducationLevel)</td>
                <td data-sort="@soldier.TimeInGrade?.TotalDays">
                    <span class="label label-default">@Html.DisplayFor(s => soldier.TimeInGradeHumanized)</span>
                </td>
                <td data-sort="@soldier.TimeTillETS?.TotalDays">
                    @if (soldier.TimeTillETS > TimeSpan.FromDays(365))
                    {
                        <span class="label label-default">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                    else if (soldier.TimeTillETS > TimeSpan.FromDays(180))
                    {
                        <span class="label label-warning">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                    else
                    {
                        <span class="label label-danger">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                </td>
                <td data-sort="@soldier.LastApft?.TotalScore">
                    @Html.DisplayFor(s => soldier.LastApft)
                    @if (soldier.LastApft?.IsAlternateAerobicEvent == true)
                    {
                        <span class="label">Alt. Aerobic</span>
                    }
                </td>
                <td>@Html.DisplayFor(s => soldier.LastAbcp)</td>
                <td>@Html.DisplayFor(s => soldier.SSDStatus)</td>
                <td>@Html.DisplayFor(s => soldier, "IWQ")</td>
                <td>@Html.DisplayFor(s => soldier, "DSCA")</td>
                <td>
                    @if (!soldier.HasDoB)
                    {
                        <span class="label label-danger">Missing DoB</span>
                    }
                    else
                    {
                        @Html.ActionLink("Add ABCP", "New", "ABCP", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink("Add APFT", "New", "APFT", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
