@model IEnumerable<Soldier>

<div class="page-header">
    <h1>Soldiers <span class="badge">@Model.Count()</span> @Html.ActionLink("Add New", "New", "Soldiers", null, new { @class = "btn btn-default" })</h1>
</div>

<table class="table table-striped" id="dt">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Rank)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Unit)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().TimeTillETS)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().APFTs)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().ABCPs)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td>@Html.RouteLink("Details", "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.DisplayFor(s => soldier.Rank)</td>
                <td>@Html.DisplayFor(s => soldier.LastName)</td>
                <td>@Html.DisplayFor(s => soldier.FirstName)</td>
                <td>@Html.DisplayFor(s => soldier.Unit)</td>
                <td>
                    @if (soldier.TimeTillETS > TimeSpan.FromDays(365))
                    {
                        <span class="label label-default">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                    else if (soldier.TimeTillETS > TimeSpan.FromDays(180))
                    {
                        <span class="label label-warning">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                    else
                    {
                        <span class="label label-danger">@Html.DisplayFor(s => soldier.TimeTillETSHumanized)</span>
                    }
                </td>
                <td>@Html.DisplayFor(s => soldier.LastApft)</td>
                <td>@Html.DisplayFor(s => soldier.LastAbcp)</td>
                <td>
                    @if (!soldier.HasDoB)
                    {
                        <span class="label label-danger">Missing DoB</span>
                    }
                    else
                    {
                        @Html.ActionLink("Add ABCP", "New", "ABCP", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink("Add APFT", "New", "APFT", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>