@model IEnumerable<Soldier>

<h2>Soldiers @Html.ActionLink("Add New", "New", "Soldiers", null, new { @class = "btn btn-default" })</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Soldier</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Unit)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().APFTs)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().ABCPs)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(s => soldier)</td>
                <td>@Html.DisplayFor(s => soldier.Unit)</td>
                <td>
                    @{
                        var apft = soldier.APFTs.OrderByDescending(_ => _.Date).FirstOrDefault();
                    }
                    @Html.DisplayFor(s => apft)
                </td>
                <td>
                    @{
                        var abcp = soldier.ABCPs.OrderByDescending(_ => _.Date).FirstOrDefault();
                    }
                    @Html.DisplayFor(s => abcp)
                </td>
                <td>
                    @Html.ActionLink("Add ABCP", "New", "ABCP", new { soldier = soldier.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Add APFT", "New", "APFT", new { soldier = soldier.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
                        }
    </tbody>
</table>