@using BatteryCommander.Common;

@model BatteryCommander.Web.Models.BattleRosterModel

@{
    ViewBag.Title = "Battle Roster";
}

<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-responsive">
        <tr>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().Group)</th>
            <th>Position</th>
            <th>Soldier</th>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().ETSDate)</th>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().MOS)</th>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().IsDutyMOSQualified)</th>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().EducationLevelCompleted)</th>
            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().SecurityClearance)</th>

            @foreach (var qualification in Model.Qualifications)
            {
                <th>@Html.DisplayFor(m => qualification)</th>
            }

            <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().Notes)</th>
        </tr>

        @foreach (var soldier in Model.Soldiers)
        {
            <tr>
                <td>@Html.DisplayFor(m => soldier.Group)</td>
                <td>-- TODO --</td>
                <td>@Html.DisplayFor(m => soldier)</td>
                <td>@Html.DisplayFor(m => soldier.ETSDate)</td>
                <td>@Html.DisplayFor(m => soldier.MOS, new { UseShortName = true })</td>
                <td>@Html.DisplayFor(m => soldier.IsDutyMOSQualified)</td>
                <td>@Html.DisplayFor(m => soldier.EducationLevelCompleted, new { UseShortName = true })</td>
                <td>@Html.DisplayFor(m => soldier.SecurityClearance, new { UseShortName = true })</td>

                @foreach (var qualification in Model.Qualifications)
                {
                    var soldier_qual = soldier.Qualifications.SingleOrDefault(q => q.QualificationId == qualification.Id);

                    <td>@Html.DisplayFor(m => soldier_qual)</td>
                }

                <td>@Html.DisplayFor(m => soldier.Notes)</td>
            </tr>
        }
    </table>

</div>

