@model BatteryCommander.Web.Models.BattleRosterModel

@{
    ViewBag.Title = "Battle Roster";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().Group)</th>
        <th>Position</th>
        <th>@Html.DisplayNameForModel()</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().ETSDate)</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().MOS)</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().IsDutyMOSQualified)</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().EducationLevelCompleted)</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().SecurityClearance)</th>
        <th>@Html.DisplayNameFor(m => m.Soldiers.FirstOrDefault().Notes)</th>
    </tr>

    @foreach (var soldier in Model.Soldiers)
    {
        <tr>
            <td>@Html.DisplayFor(m => soldier.Group)</td>
            <td>-- TODO --</td>
            <!-- DisplayFor Soldier shows Rank, Last, First -->
            <td>@Html.DisplayFor(m => soldier)</td>
            <td>@Html.DisplayFor(m => soldier.ETSDate)</td>
            <td>@Html.DisplayFor(m => soldier.MOS)</td>
            <td>@Html.DisplayFor(m => soldier.IsDutyMOSQualified)</td>
            <td>@Html.DisplayFor(m => soldier.EducationLevelCompleted)</td>
            <td>@Html.DisplayFor(m => soldier.SecurityClearance)</td>
            <td>@Html.DisplayFor(m => soldier.Notes)</td>
        </tr>
    }
</table>
