@model APFT

@Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "btn btn-default" })

@if (!Model.IsPassing)
{
    @Html.ActionLink("Generate Counseling", "Counseling", "APFT", new { Model.Id }, new { @class = "btn btn-default" })
}

<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Soldier)</td>
        <td>@Html.DisplayFor(model => model.Soldier)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.IsPassing)</td>
        <td>@Html.DisplayFor(model => model.IsPassing)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Date)</td>
        <td>@Html.DisplayFor(model => model.Date)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PushUps)</td>
        <td>@Html.DisplayFor(model => model.PushUps)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PushUpScore)</td>
        <td>@Html.DisplayFor(model => model.PushUpScore)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SitUps)</td>
        <td>@Html.DisplayFor(model => model.SitUps)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SitUpScore)</td>
        <td>@Html.DisplayFor(model => model.SitUpScore)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Run)</td>
        <td>@Html.DisplayFor(model => model.Run)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RunScore)</td>
        <td>@Html.DisplayFor(model => model.RunScore)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TotalScore)</td>
        <td>@Html.DisplayFor(model => model.TotalScore)</td>
    </tr>
</table>

<div>
    @using (Html.BeginForm("Delete", "APFT", new { Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
    }
</div>