@model APFTListViewModel

@{
    ViewBag.Title = "APFT Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <h4>
        <small>
            @Html.DisplayNameFor(_ => Model.Go): <span class="badge">@Model.Go</span>
            @Html.DisplayNameFor(_ => Model.NoGo): <span class="badge">@Model.NoGo</span>
            @Html.DisplayNameFor(_ => Model.Due): <span class="badge">@Model.Due</span>
        </small>
    </h4>
</div>

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "APFT", null, new { @class = "btn btn-default" })
</div>

<table class="table table-striped display nowrap" id="dt" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Rank)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Unit)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.IsPassing)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.Date)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.TotalScore)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.PushUps)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.PushUpScore)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.SitUps)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.SitUpScore)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.Run)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastApft.RunScore)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model.Soldiers)
            {
            <tr>
                <td>@Html.ActionLink("New", "New", "APFT", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })</td>
                <td>@soldier.Rank.ShortName()</td>
                <td>@Html.RouteLink(soldier.LastName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.RouteLink(soldier.FirstName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.DisplayFor(_ => soldier.Unit)</td>
                @if (soldier.LastApft != null)
                {
                    <td data-sort="@soldier.ConsecutiveApftFailures">
                        @Html.DisplayFor(_ => soldier.LastApft, "APFT")
                        @if (!soldier.LastApft.IsPassing)
                        {
                            <span class="badge">@(soldier.ConsecutiveApftFailures)x</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Details", new { soldier.LastApft?.Id })">
                            @Html.DisplayFor(_ => soldier.LastApft.Date)
                        </a>
                    </td>
                    <td data-sort="@soldier.LastApft.TotalScore">@Html.DisplayFor(_ => soldier.LastApft.TotalScore)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastApft.PushUps)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastApft.PushUpScore)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastApft.SitUps)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastApft.SitUpScore)</td>
                    <td>
                        @Html.DisplayFor(_ => soldier.LastApft.Run)
                        @if (soldier.LastApft.IsAlternateAerobicEvent)
                        {
                            <span class="label label-info">Alt.</span>
                        }
                    </td>
                    <td>
                        @if (!soldier.LastApft.IsAlternateAerobicEvent)
                        {
                            @Html.DisplayFor(_ => soldier.LastApft.RunScore)
                        }
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }                
                <td></td>
            </tr>
        }
    </tbody>
</table>
