@model IEnumerable<Soldier>

@{
    ViewBag.Title = "APFT Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title <span class="badge">@Model.Count()</span> @Html.ActionLink("Add New", "New", "APFT", null, new { @class = "btn btn-default" })</h1>
</div>

<table class="table table-striped" id="dt">
    <thead>
        <tr>
            <th>Soldier</th>
            <th>Unit</th>
            <th>Date</th>
            <th>Score</th>
            <th>Result</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => soldier)</td>
                <td>@Html.DisplayFor(_ => soldier.Unit)</td>
                @if (soldier.LastApft != null)
                {
                    <td>@Html.DisplayFor(_ => soldier.LastApft.Date)</td>
                    <td data-sort="@soldier.LastApft.TotalScore">
                        @Html.DisplayFor(_ => soldier.LastApft.TotalScore)

                        @if (soldier.LastApft.IsAlternateAerobicEvent)
                        {
                            <span class="label">Alt. Aerobic</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(_ => soldier.LastApft, "APFT")</td>
                }
                else
                {
                    <td colspan="3"></td>
                }
            </tr>
        }
    </tbody>
</table>