@model Unit

<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">LINE</th>
            <th>OFFICER</th>
            <th>ENLISTED</th>
            <th>WARRANT</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Line 1</td>
            <td colspan="5"><h2>@Html.DisplayFor(_ => Model.Name)</h2></td>
        </tr>
        <tr>
            <td>Line 2</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Assigned)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Assigned.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Assigned.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Total)</td>
        </tr>
        <tr>
            <td>Line 3</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Attached)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Total)</td>
        </tr>
        <tr>
            <td>Line 4</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Detached)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Detached.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.Detached })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Detached.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.Detached })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Detached.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Detached.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.Detached })</td>
        </tr>
        <tr>
            <td>Line 5</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Total)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Total.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Total.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Total.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.Total.Total}", "Soldiers.List", new { Unit = Model.Id })</td>
        </tr>
        <tr>
            <td>Line 6</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.PresentForDuty)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.PresentForDuty.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.PresentForDuty })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.PresentForDuty.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.PresentForDuty })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.PresentForDuty.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.PresentForDuty.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.PresentForDuty })</td>
        </tr>
        <tr>
            <td>Line 7</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.WoundedInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 8</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.KilledInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 9</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.MissingInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 10</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.OnLeaveOrPass)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.OnLeaveOrPass.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.OnPass })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.OnLeaveOrPass.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.OnPass })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.OnLeaveOrPass.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.OnLeaveOrPass.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.OnPass })</td>
        </tr>
        <tr>
            <td>Line 11</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.TDY)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.TDY.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.TDY })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.TDY.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.TDY })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.TDY.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.TDY.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.TDY })</td>
        </tr>
        <tr>
            <td>Line 12</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.AWOL)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.AWOL.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.AWOL })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.AWOL.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.AWOL })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.AWOL.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.AWOL.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.AWOL })</td>
        </tr>
        <tr>
            <td>Line 13</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.RearDetachment)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.RearDetachment.Officer}", "Soldiers.List", new { Unit = Model.Id, Ranks = RankExtensions.Officers, Status = Soldier.SoldierStatus.RearDetachment })</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.RearDetachment.Enlisted}", "Soldiers.List", new { Unit = Model.Id, OnlyEnlisted = true, Status = Soldier.SoldierStatus.RearDetachment })</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.RearDetachment.Warrant)</td>
            <td>@Html.RouteLink($"{Model.PERSTAT.RearDetachment.Total}", "Soldiers.List", new { Unit = Model.Id, Status = Soldier.SoldierStatus.RearDetachment })</td>
        </tr>
        <tr>
            <td>Line 14</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.ReplacementsRequested)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Total)</td>
        </tr>
    </tbody>
</table>