@model Unit

<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">LINE</th>
            <th>OFFICER</th>
            <th>WARRANT</th>
            <th>ENLISTED</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Line 1</td>
            <td colspan="5">@Html.DisplayFor(_ => Model.Name)</td>
        </tr>
        <tr>
            <td>Line 2</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Assigned)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Assigned.Total)</td>
        </tr>
        <tr>
            <td>Line 3</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Attached)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Attached.Total)</td>
        </tr>
        <tr>
            <td>Line 4</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Detached)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Detached.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Detached.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Detached.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Detached.Total)</td>
        </tr>
        <tr>
            <td>Line 5</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.Total)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Total.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Total.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Total.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.Total.Total)</td>
        </tr>
        <tr>
            <td>Line 6</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.PresentForDuty)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.PresentForDuty.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.PresentForDuty.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.PresentForDuty.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.PresentForDuty.Total)</td>
        </tr>
        <tr>
            <td>Line 7</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.WoundedInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.WoundedInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 8</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.KilledInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.KilledInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 9</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.MissingInAction)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.MissingInAction.Total)</td>
        </tr>
        <tr>
            <td>Line 10</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.OnLeaveOrPass)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.OnLeaveOrPass.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.OnLeaveOrPass.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.OnLeaveOrPass.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.OnLeaveOrPass.Total)</td>
        </tr>
        <tr>
            <td>Line 11</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.TDY)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.TDY.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.TDY.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.TDY.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.TDY.Total)</td>
        </tr>
        <tr>
            <td>Line 12</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.AWOL)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.AWOL.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.AWOL.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.AWOL.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.AWOL.Total)</td>
        </tr>
        <tr>
            <td>Line 13</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.RearDetachment)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.RearDetachment.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.RearDetachment.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.RearDetachment.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.RearDetachment.Total)</td>
        </tr>
        <tr>
            <td>Line 14</td>
            <td>@Html.DisplayNameFor(_ => Model.PERSTAT.ReplacementsRequested)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Officer)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Enlisted)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Warrant)</td>
            <td>@Html.DisplayFor(_ => Model.PERSTAT.ReplacementsRequested.Total)</td>
        </tr>
    </tbody>
</table>