@model Soldier.SSDStatusModel

@if (Model != null)
{
    <div>
        @switch (Model.Rank)
        {
            case Rank.E1:
            case Rank.E2:
            case Rank.E3:
            case Rank.E4:
                <span class="@Model.CssClass">SSD 1 (@Html.DisplayFor(m => m.SSD_1))</span>
                return;

            case Rank.E5:
                <span class="@Model.CssClass">SSD 2 (@Html.DisplayFor(m => m.SSD_2))</span>
                return;

            case Rank.E6:
                <span class="@Model.CssClass">SSD 3 (@Html.DisplayFor(m => m.SSD_3))</span>
                return;

            case Rank.E7:
            case Rank.E8:
                <span class="@Model.CssClass">SSD 4 (@Html.DisplayFor(m => m.SSD_4))</span>
                return;

            case Rank.E9:
                <span class="@Model.CssClass">SSD 5 (@Html.DisplayFor(m => m.SSD_5))</span>
                return;

            default:
                return;
        }
    </div>
}
