@model BatteryCommander.Web.Models.RequestAccessModel
﻿@{
    ViewBag.Title = "Request Access";
}
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@if (!String.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("RequestAccess", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Email)
    @Html.ValidationSummary()
    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.DoDId)
        @Html.EditorFor(model => model.DoDId)
    </div>
    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Unit)
        @Html.DropDownListFor(model => model.Unit, Model.Units)
    </div>
    <button type="submit">Request</button>
}