@model WeaponListViewModel

@{
    ViewBag.Title = "Master Authorization List";
}

<div class="page-header">
    <h1>
        @ViewBag.Title
        @Html.ActionLink("Add New", "New", "Weapons", null, new { @class = "btn btn-default" })
    </h1>
    <h4>
        <small>
            @foreach (var by_type in Model.Count_By_Type)
            {
                <div>@by_type.Key.DisplayName(): <span class="badge">@by_type.Value</span></div>
            }
        </small>
    </h4>
</div>

<div id="weapon-list">

    <table class="table table-striped display nowrap" width="100%" id="dt">
        <thead>
            <tr>
                <th>Links</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().Unit)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().Type)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().AdminNumber)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().Serial)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().OpticSerial)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().OpticType)</th>
                <th>@Html.DisplayNameFor(_ => _.Weapons.FirstOrDefault().Assigned)</th>
                <th>Date/Time Out</th>
                <th>Signature</th>
                <th>Date/Time In</th>
                <th>Signature</th> 
            </tr>
        </thead>

        <tbody>
            @foreach (var weapon in Model.Weapons)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Weapons", new { weapon.Id })
                        @if (weapon.AssignedId.HasValue)
                        {
                            @Html.ActionLink("Receipt", "Receipt", "Weapons", new { weapon.Id })
                        }           
                    </td>
                    <td>@Html.DisplayFor(_ => weapon.Unit)</td>
                    <td>@Html.DisplayFor(_ => weapon.Type)</td>
                    <td>@Html.DisplayFor(_ => weapon.AdminNumber)</td>
                    <td>@Html.DisplayFor(_ => weapon.Serial)</td>
                    <td>@Html.DisplayFor(_ => weapon.OpticSerial)</td>
                    <td>@Html.DisplayFor(_ => weapon.OpticType)</td>
                    <td>@Html.DisplayFor(_ => weapon.Assigned)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>