@model IEnumerable<BatteryCommander.Common.Models.AppUser>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add New User", "New", null, new { @class = "btn btn-primary" })

<table class="table table-striped">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(u => u.FirstOrDefault().UserName)</th>
            <th>@Html.DisplayNameFor(u => u.FirstOrDefault().AccessFailedCount)</th>
            <th>@Html.DisplayNameFor(u => u.FirstOrDefault().LockoutEndDate)</th>
            <th>@Html.DisplayNameFor(u => u.FirstOrDefault().TwoFactorEnabled)</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var user in Model)
    {
        <tr>
            <td>@Html.DisplayFor(u => user.UserName)</td>
            <td>@Html.DisplayFor(u => user.AccessFailedCount)</td>
            <td>@Html.DisplayFor(u => user.LockoutEndDate)</td>
            <td>@Html.DisplayFor(u => user.TwoFactorEnabled)</td>
            <td>@Html.ActionLink("Edit", "Edit", "User", new { userId = user.Id })</td>
        </tr>
    }
</table>