@model ABCPListViewModel

@{
    ViewBag.Title = "ABCP Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <h4>
        <small>
            @Html.DisplayNameFor(_ => Model.Go): <span class="badge">@Model.Go</span>
            @Html.DisplayNameFor(_ => Model.NoGo): <span class="badge">@Model.NoGo</span>
            @Html.DisplayNameFor(_ => Model.Due): <span class="badge">@Model.Due</span>
        </small>
    </h4>
</div>

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "ABCP", null, new { @class = "btn btn-default" })
</div>

<table class="table table-striped display nowrap" id="dt" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Rank)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Unit)</th>
            <th data-priority="1">Result</th>
            <th>Date</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Measurements</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model.Soldiers)
        {
            <tr>
                <td>@soldier.Rank.ShortName()</td>
                <td>@Html.RouteLink(soldier.LastName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.RouteLink(soldier.FirstName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.DisplayFor(_ => soldier.Unit)</td>
                @if (soldier.LastAbcp != null)
                {
                    <td>@Html.DisplayFor(_ => soldier.LastAbcp, "ABCP")</td>
                    <td>@Html.DisplayFor(_ => soldier.LastAbcp.Date)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastAbcp.Height)</td>
                    <td>@Html.DisplayFor(_ => soldier.LastAbcp.Weight)</td>
                    <td>
                        <ol>
                            @foreach (var measurement in soldier.LastAbcp.Measurements)
                            {
                                <li>@Html.DisplayFor(_ => measurement.Waist) / @Html.DisplayFor(_ => measurement.Neck)</li>
                            }
                        </ol>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
                <td>@Html.ActionLink("Add", "New", "ABCP", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
