@model IEnumerable<ABCP>

<div class="page-header">
    <h1>ABCP @Html.ActionLink("Add New", "New", "ABCP", null, new { @class = "btn btn-default" })</h1>
</div>

<table class="table table-striped" id="dt">
    <thead>
        <tr>
            <th>Soldier</th>
            <th>Date</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Result</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var model in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => model.Soldier)</td>
                <td>
                    <a href="@Url.Action("Index", new { date = model.Date })">
                        @Html.DisplayFor(_ => model.Date)
                    </a>
                </td>
                <td>@Html.DisplayFor(_ => model.Height)</td>
                <td>@Html.DisplayFor(_ => model.Weight)</td>
                <td>
                    @if (!model.IsPassing)
                    {
                        <span class="label label-danger">Failure</span>
                    }
                    else
                    {
                        <span class="label label-success">Passing</span>
                    }
                </td>
                <td>@Html.ActionLink("Details", "Details", new { model.Id })</td>
            </tr>
        }
    </tbody>
</table>
