@model ABCP

@{
    if(!Model.Measurements.Any())
    {
        Model.Measurements = new[]
        {
            new ABCP.Measurement{ },
            new ABCP.Measurement{ },
            new ABCP.Measurement{ }
        };
    }
}

<panel class="panel">
    <div class="panel-heading">
        <h1>ABCP</h1>
        <h3>@Html.DisplayFor(model => model.Soldier)</h3>
        <h3>@Html.DisplayFor(model => model.Date)</h3>
    </div>

    <div class="row">
        <div class="col-md-5">
            @if (Model.Soldier.Gender == Gender.Male)
            {
                <img src="https://user-images.githubusercontent.com/29133992/32452565-e4d95f08-c2e7-11e7-9b9b-0dd7d4dce8af.png" class="img-responsive" />
            }
            else
            {
                <img src="https://user-images.githubusercontent.com/29133992/32452581-f420ced8-c2e7-11e7-9e06-5eaf78893738.png" class="img-responsive" />
            }
        </div>

        <div class="col-md-7">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <table>
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Measurements.FirstOrDefault().Waist)</th>
                            <th>@Html.DisplayNameFor(model => model.Measurements.FirstOrDefault().Neck)</th>
                            @if (Model.Soldier.Gender == Gender.Female)
                            {
                                <th>@Html.DisplayNameFor(model => model.Measurements.FirstOrDefault().Hips)</th>
                            }
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Measurements.Count(); i++)
                {
                        <tr>
                            <td><input name="measurements[@i].Waist" value="@Model.Measurements.ElementAt(i).Waist" /></td>
                            <td><input name="measurements[@i].Neck" value="@Model.Measurements.ElementAt(i).Neck" /></td>
                            @if (Model.Soldier.Gender == Gender.Female)
                    {
                                <td><input name="measurements[@i].Hips" value="@Model.Measurements.ElementAt(i).Hips" /></td>
                            }
                        </tr>
                    }
                </table>

                <button type="submit">Save</button>
            }
        </div>

        
    </div>

    
</panel>