@model Vehicle

@using (Html.BeginForm("Save", "Vehicles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Unit)
        @Html.DropDownListFor(model => model.UnitId, (IEnumerable<SelectListItem>)ViewBag.Units, "-- Select Unit --")
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Status)
        @Html.DropDownListFor(model => model.Status, Html.GetEnumSelectList<Vehicle.VehicleStatus>())
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Bumper)
        @Html.EditorFor(model => model.Bumper)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Type)
        @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<Vehicle.VehicleType>())
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Location)
        @Html.DropDownListFor(model => model.Location, Html.GetEnumSelectList<Vehicle.VehicleLocation>())
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Serial)
        @Html.EditorFor(model => model.Serial)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Registration)
        @Html.EditorFor(model => model.Registration)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Nomenclature)
        @Html.EditorFor(model => model.Nomenclature)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.LIN)
        @Html.EditorFor(model => model.LIN)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Seats)
        @Html.EditorFor(model => model.Seats)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Driver)
        @Html.DropDownListFor(model => model.DriverId, (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select Driver --", new { @class = "select2" })
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.A_Driver)
        @Html.DropDownListFor(model => model.A_DriverId, (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select A-Driver --", new { @class = "select2" })
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.HasFuelCard)
        @Html.EditorFor(model => model.HasFuelCard)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.HasTowBar)
        @Html.EditorFor(model => model.HasTowBar)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.HasJBCP)
        @Html.EditorFor(model => model.HasJBCP)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Notes)
        @Html.TextAreaFor(model => model.Notes)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.TroopCapacity) (Not Belted Seats)
        @Html.EditorFor(model => model.TroopCapacity)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Passengers)
        <select asp-for="Passengers" multiple="multiple" class="select2">
            @foreach (var soldier in ViewBag.Soldiers)
            {
                var selected =
                    Model
                    .Passengers?
                    .Any(passenger => $"{passenger.SoldierId}" == soldier.Value);

                <option value="@soldier.Value" selected="@(selected)">@soldier.Text</option>
            }
        </select>
    </div>

    <button type="submit">Save</button>
}

@if (Model.Id > 0)
{
    <div>
        @using (Html.BeginForm("Delete", "Vehicles", new { Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        }
    </div>
}