@model Vehicle

@using (Html.BeginForm("Save", "Vehicles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Unit)
        @Html.DropDownListFor(model => model.UnitId, (IEnumerable<SelectListItem>)ViewBag.Units, "-- Select Unit --")
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Status)
        @Html.EditorFor(model => model.Status)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Bumper)
        @Html.EditorFor(model => model.Bumper)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Type)
        @Html.EditorFor(model => model.Type)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Seats)
        @Html.EditorFor(model => model.Seats)
    </div>

    <button type="submit">Save</button>
}