@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "Vehicle Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title <span class="badge">@Model.Count()</span> @Html.ActionLink("Add New", "New", "Vehicles", null, new { @class = "btn btn-default" })</h1>
</div>

<table class="table table-striped" id="dt">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Unit)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Bumper)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Seats)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Nomenclature)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Registration)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Serial)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().LIN)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Driver)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().A_Driver)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Notes)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => vehicle, "VehicleStatus")</td>
                <td>@Html.DisplayFor(_ => vehicle.Unit)</td>
                <td>@Html.DisplayFor(_ => vehicle.Bumper)</td>
                <td>@Html.DisplayFor(_ => vehicle.Type)</td>
                <td>@Html.DisplayFor(_ => vehicle.Seats)</td>
                <td>@Html.DisplayFor(_ => vehicle.Nomenclature)</td>
                <td>@Html.DisplayFor(_ => vehicle.Registration)</td>
                <td>@Html.DisplayFor(_ => vehicle.Serial)</td>
                <td>@Html.DisplayFor(_ => vehicle.LIN)</td>
                <td><span class="update-driver" data-vehicle="@vehicle.Id" data-bumper="@vehicle.Bumper">@Html.DisplayFor(_ => vehicle.Driver)</span></td>
                <td><span class="update-adriver" data-vehicle="@vehicle.Id" data-bumper="@vehicle.Bumper">@Html.DisplayFor(_ => vehicle.A_Driver)</span></td>
                <td>@Html.DisplayFor(_ => vehicle.Notes)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { vehicle.Id })
            </tr>
        }
    </tbody>
</table>

<div style="display:none" id="dialog" title="Update Driver">
    @using (Html.BeginForm("SetDriver", "Vehicles", FormMethod.Post))
    {
        <b id="title"></b>

        <input id="vehicleId" name="vehicleId" type="hidden" />

        @Html.DropDownList("driverId", (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select Driver --")

        <button type="submit" id="save">Save</button>
    }

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("td .update-driver").click(function (e) {
                e.preventDefault();
                $("#title").html('Driver for: ' + $(this).data('bumper'));
                $("#vehicleId").val($(this).data('vehicle'));

                $("#dialog").dialog({
                    modal: true
                });
            });
        });
    </script>
}
