@model Unit

@using (Html.BeginForm("Save", "Units", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.UIC)
        @Html.EditorFor(model => model.UIC)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.IgnoreForReports)
        @Html.EditorFor(model => model.IgnoreForReports)
    </div>

    <button type="submit">Save</button>
}