@model IEnumerable<Unit>

<div class="page-header">
    <h1>Units @Html.ActionLink("Add New", "New", "Units", null, new { @class = "btn btn-default btn-xs" })</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().UIC)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Soldiers)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Vehicles)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var unit in Model)
            {
            <tr>
                <td>@Html.DisplayFor(s => unit)</td>
                <td>@Html.DisplayFor(s => unit.UIC)</td>
                <td>@Html.ActionLink("Soldiers", "Index", "Soldiers", new { unit = unit.Id })</td>
                <td>@Html.ActionLink("Vehicles", "Index", "Vehicles", new { unit = unit.Id })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { unit.Id })</td>
            </tr>
        }
    </tbody>
</table>
