@model IEnumerable<Unit>

<h2>Units @Html.ActionLink("Add New", "New", "Units", null, new { @class = "btn btn-default" })</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().UIC)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>@Html.DisplayFor(s => unit.Name)</td>
                <td>@Html.DisplayFor(s => unit.UIC)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { unit.Id })
                    @Html.ActionLink("Soldiers", "Index", "Soldier", new { unit = unit.Id })
                </td>
            </tr>
        }
    </tbody>
</table>