@model BatteryCommander.Web.Models.BulkQualificationUpdateModel

<tr>
    @Html.HiddenFor(s => s.QualificationId)
    @Html.HiddenFor(s => s.SoldierId)
    <td>@Html.DisplayFor(s => s.Soldier)</td>
    <td>@Html.DisplayFor(s => s.Soldier.Group)</td>
    <td>@Html.DisplayFor(s => s.Soldier.Position)</td>
    <td>@Html.EnumDropDownListFor(s => s.Status)</td>
    <td>@Html.EditorFor(s => s.QualificationDate)</td>
    <td>@Html.EditorFor(s => s.ExpirationDate)</td>
    <td>@Html.EditorFor(s => s.Comments)</td>
</tr>