@model IEnumerable<Soldier>

@{
    ViewBag.Title = "SSD Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title <span class="badge">@Model.Count()</span></h1>
</div>

<table class="table table-striped display nowrap" id="dt" width="100%" data-page-length="25">
    <thead>
        <tr>
            <th>Soldier</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Unit)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().EducationLevel)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().TimeInGrade)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.Updated)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.SSD_1)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.SSD_2)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.SSD_3)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.SSD_4)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SSDStatus.SSD_5)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td data-priority="1">@Html.DisplayFor(s => soldier)</td>
                <td>@Html.DisplayFor(s => soldier.Unit, additionalViewData: new { controller = "SSD" })</td>
                <td>@Html.DisplayFor(s => soldier, "MilitaryEducationLevel")</td>
                <td data-sort="@soldier.TimeInGrade?.TotalDays">
                    @Html.DisplayFor(s => soldier.TimeInGradeHumanized)
                </td>
                <td data-sort="@soldier.SSDStatus.Updated?.TotalDays">@Html.DisplayFor(s => soldier.SSDStatus.UpdatedHumanized)</td>
                <td  data-priority="2">
                    <span class="update" data-name="@soldier" data-soldier="@soldier.Id" data-ssd="SSD_1" data-completion="@soldier.SSDStatus.SSD_1">
                        @Html.DisplayFor(s => soldier.SSDStatus.SSD_1)
                    </span>
                </td>
                <td>
                    <span class="update" data-name="@soldier" data-soldier="@soldier.Id" data-ssd="SSD_2" data-completion="@soldier.SSDStatus.SSD_2">
                        @Html.DisplayFor(s => soldier.SSDStatus.SSD_2)
                    </span>
                </td>
                <td>
                    <span class="update" data-name="@soldier" data-soldier="@soldier.Id" data-ssd="SSD_3" data-completion="@soldier.SSDStatus.SSD_3">
                        @Html.DisplayFor(s => soldier.SSDStatus.SSD_3)
                    </span>
                </td>
                <td>
                    <span class="update" data-name="@soldier" data-soldier="@soldier.Id" data-ssd="SSD_4" data-completion="@soldier.SSDStatus.SSD_4">
                        @Html.DisplayFor(s => soldier.SSDStatus.SSD_4)
                    </span>
                </td>
                <td>
                    <span class="update" data-name="@soldier" data-soldier="@soldier.Id" data-ssd="SSD_5" data-completion="@soldier.SSDStatus.SSD_5">
                        @Html.DisplayFor(s => soldier.SSDStatus.SSD_5)
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="display:none" id="dialog" title="Update SSD Status">
    @using (Html.BeginForm("Update", "SSD", FormMethod.Post))
    {
        <b id="name"></b>

        <input id="soldierId" name="soldierId" type="hidden" />
        <input id="ssd" name="ssd" type="hidden" />
        <input id="completion" name="completion" />
        <!-- Comments? -->
        <button type="submit" id="save">Save</button>
    }

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("td .update").click(function () {
                $("#name").html($(this).data('name') + ' : ' + $(this).data('ssd'));
                $("#soldierId").val($(this).data('soldier'));
                $("#ssd").val($(this).data('ssd'));
                $("#completion").val($(this).data('completion') * 100);

                $("#dialog").dialog({
                    modal: true
                });
            });
        });
    </script>
}