@model IEnumerable<BatteryCommander.Web.Models.QualificationEditModel>

@{
    ViewBag.Title = "Add Subtasks";
}

<h2>@ViewBag.Title @Html.ActionLink("Back to Parent Task", "View", new { qualificationId = ViewBag.QualificationId })</h2>

<div class="alert alert-info">
    Use this page to batch add subtasks into a qualification or parent task.
</div>

@using (Html.BeginForm("AddTasksSave", "Qualification", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Name)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Description)</th>
            </tr>
        </thead>

        <tbody>
            @Html.EditorForModel()
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Tasks" class="btn btn-primary" />
        </div>
    </div>
}





