@model BatteryCommander.Web.Models.QualificationEditModel

@{
    ViewBag.Title = "Add/Edit Qualification";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Qualification", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <table class="table table-striped">
            <tr>
                <td>@Html.DisplayNameFor(m => m.ParentTaskId)</td>
                <td>@Html.DropDownListFor(m => m.ParentTaskId, Model.PossibleParentQualifications, "Select a Parent Qualification (if applicable)")</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Description)</td>
                <td>@Html.EditorFor(m => m.Description)</td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
