@model IEnumerable<BatteryCommander.Common.Models.Qualification>

@{
    ViewBag.Title = "Qualifications";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New", "Edit")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("View", "View", new { qualificationId = item.Id }) |
                <a href="~/Qualification/@item.Id/Update">Bulk Update Soldiers</a>
            </td>
        </tr>
    }

</table>
