@model BatteryCommander.Common.Models.Qualification

@{
    ViewBag.Title = "View Qualification";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>

</table>

<p>
    @Html.ActionLink("Bulk Update Soldier Qualifications", "Update", new { qualificationId = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
