@model BatteryCommander.Web.Models.Settings.ReportSettings
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Reports</h2>

<div>
    @using (Html.BeginForm("Save", "Reports", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.Type)
            @Html.EditorFor(model => model.Type)
        </div>

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.From)
            @Html.EditorFor(model => model.From)
        </div>

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.Enabled)
            @Html.EditorFor(model => model.Enabled)
        </div>

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.Recipients)
            @Html.EditorFor(model => model.Recipients)
        </div>

        <button type="submit">Save</button>
    }
</div>

