@model BatteryCommander.Web.Models.Settings.ReportSettings
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Reports</h2>

<div>
    @using (Html.BeginForm("Save", "Reports", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.Hidden("unitId", (int)ViewBag.UnitId)

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.Type)
            @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<BatteryCommander.Web.Models.Reports.Report.ReportType>())
        </div>

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.From)
            @Html.EditorFor(model => model.From)
        </div>

        <div class="form-group form-group-lg">
            @Html.DisplayNameFor(model => model.Enabled)
            @Html.EditorFor(model => model.Enabled)
        </div>

        <h4>Recipients</h4>

        @for (int i = 0; i < Model.Recipients.Count; i++)
        {
            <div class="form-group form-group-lg">
                @Html.DisplayNameFor(model => Model.Recipients[i].Name)
                @Html.EditorFor(model => Model.Recipients[i].Name)
            </div>

            <div class="form-group form-group-lg">
                @Html.DisplayNameFor(model => Model.Recipients[i].EmailAddress)
                @Html.EditorFor(model => Model.Recipients[i].EmailAddress)
            </div>
        }

        <button type="submit">Save</button>
    }
</div>

