@model BatteryCommander.Web.Models.Evaluation

<h1>@Model.Ratee</h1>

<table border="1">
    <tbody>
        <tr>
            <td>Soldier</td>
            <td>@Model.Ratee</td>
        </tr>
        <tr>
            <td>Rater</td>
            <td>@Model.Rater</td>
        </tr>
        <tr>
            <td>SR Rater</td>
            <td>@Model.SeniorRater</td>
        </tr>
        <tr>
            <td>Last Message</td>
            <td>@Model.LastEvent.Message by @Model.LastEvent.Author @Model.LastUpdatedHumanized</td>
        </tr>
        <tr>
            <td>Link</td>
            <td><a href="https://bc.redleg.app/Evaluations/Details/@Model.Id">Evaluation</a></td>
        </tr>
        @if(Model.EvaluationId.HasValue)
        {
            <tr>
                <td>EES</td>
                <td><a href="@Model.EvaluationLink">@Model.EvaluationId</a></td>
            </tr>
        }
    </tbody>
</table>

<hr />

<a href="https://bc.redleg.app/Evaluations">Evaluation Tracker</a>