@model Unit
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Reports</h2>

@Html.ActionLink("Add", "Add", new { ViewBag.UnitId })

<div>
    <table class="table table striped">
        @foreach (var report in Model.ReportSettings)
        {
            <tr>
                <td>@report.Type</td>
                <td><a href="mailto:@report.From.EmailAddress">@report.From.Name</a></td>
                <td>
                <td>
                    @using (Html.BeginForm("Toggle", "Reports", FormMethod.Post))
                    {
                        @Html.Hidden("Type", report.Type)
                        @Html.Hidden("UnitId", Model.Id)
                        @Html.Hidden("Enabled", !report.Enabled)

                        <button type="submit">@(report.Enabled ? "Disable" : "Enable")</button>
                    }
                </td>
                <td>
                    <ul>
                        @foreach (var recipient in report.Recipients)
                        {
                            <li><a href="mailto:@recipient.EmailAddress">@recipient.Name</a></li>
                        }
                    </ul>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Reports", FormMethod.Post, new { report.Type, ViewBag.UnitId }))
                    {
                        <button type="submit">Delete</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>