@model ACFT

@Html.ActionLink("Back to ACFT", "Index", "ACFT")
@Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "btn btn-default" })

@if (!Model.IsPassing)
{
    @Html.ActionLink("Generate Counseling", "Counseling", "ACFT", new { Model.Id }, new { @class = "btn btn-default" })
}

@if (!Model.Soldier.HasDoB)
{
    <div class="alert alert-danger">Soldier has invalid Date of Birth!</div>
}

<h3><a href="http://armypubs.army.mil/epubs/DR_pubs/DR_a/pdf/web/fm7_22.pdf">FM 7-22 Army Physical Readiness Training</a></h3>

<table class="table table-bordered">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Soldier)</td>
        <td>@Html.DisplayFor(model => model.Soldier)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.IsPassing)</td>
        <td>@Html.DisplayFor(model => model)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Date)</td>
        <td>@Html.DisplayFor(model => model.Date)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ForRecord)</td>
        <td>@Html.DisplayFor(model => model.ForRecord)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ThreeRepMaximumDeadlifts)</td>
        <td>@Html.DisplayFor(model => model.ThreeRepMaximumDeadlifts)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StandingPowerThrow)</td>
        <td>@Html.DisplayFor(model => model.StandingPowerThrow)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.HandReleasePushups)</td>
        <td>@Html.DisplayFor(model => model.HandReleasePushups)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SprintDragCarry)</td>
        <td>@Html.DisplayFor(model => model.SprintDragCarry)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LegTucks)</td>
        <td>@Html.DisplayFor(model => model.LegTucks)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TwoMileRun)</td>
        <td>@Html.DisplayFor(model => model.TwoMileRun)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.TotalScore)</td>
        <td>
            @Html.DisplayFor(model => model.TotalScore)
        </td>
    </tr>
</table>

<div>
    @using (Html.BeginForm("Delete", "ACFT", new { Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
    }
</div>