@model ACFTListViewModel

@{
    ViewBag.Title = "ACFT Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <h4>
        <small>
            @Html.DisplayNameFor(_ => Model.Go): <span class="badge">@Model.Go</span>
            @Html.DisplayNameFor(_ => Model.NoGo): <span class="badge">@Model.NoGo</span>
            @Html.DisplayNameFor(_ => Model.Due): <span class="badge">@Model.Due</span>
        </small>
    </h4>
</div>

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "ACFT", null, new { @class = "btn btn-default" })
</div>

<table class="table table-striped display nowrap" id="dt" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Rank)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().Unit)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastAcft.IsPassing)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastAcft.Date)</th>
            <th>@Html.DisplayNameFor(_ => _.Soldiers.FirstOrDefault().LastAcft.TotalScore)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model.Soldiers)
        {
            <tr>
                <td>@soldier.Rank.ShortName()</td>
                <td>@Html.RouteLink(soldier.LastName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.RouteLink(soldier.FirstName, "Soldier.Details", new { soldier.Id })</td>
                <td>@Html.DisplayFor(_ => soldier.Unit)</td>
                @if (soldier.LastAcft != null)
                {
                    <td>
                        @Html.DisplayFor(_ => soldier.LastAcft, "ACFT")
                    </td>
                    <td>
                        <a href="@Url.Action("Details", new { soldier.LastAcft?.Id })">
                            @Html.DisplayFor(_ => soldier.LastAcft.Date)
                        </a>
                    </td>
                    <td data-sort="@soldier.LastAcft.TotalScore">@Html.DisplayFor(_ => soldier.LastAcft.TotalScore)</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
                <td>@Html.ActionLink("New", "New", "ACFT", new { soldier = soldier.Id }, new { @class = "btn btn-default btn-xs" })</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>