@model Evaluation

@Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "btn btn-default" })

<!-- Workflow steps available -->

<table class="table table-bordered">
    @if (Model.EvaluationId.HasValue)
    {
        <tr>
            <td>@Html.DisplayNameFor(model => model.EvaluationId)</td>
            <td>@Html.DisplayFor(model => model.EvaluationId) (@Html.DisplayFor(model => model.EvaluationLink)</td>
        </tr>
    }
    <tr>
        <td>@Html.DisplayNameFor(model => model.Ratee)</td>
        <td>@Html.DisplayFor(model => model.Ratee)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Rater)</td>
        <td>@Html.DisplayFor(model => model.Rater)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SeniorRater)</td>
        <td>@Html.DisplayFor(model => model.SeniorRater)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.StartDate)</td>
        <td>@Html.DisplayFor(model => model.StartDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ThruDate)</td>
        <td>@Html.DisplayFor(model => model.ThruDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Delinquency)</td>
        <td>@Html.DisplayFor(model => model.Delinquency)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Status)</td>
        <td>@Html.DisplayFor(model => model.Status)</td>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LastUpdated)</td>
        <td>@Html.DisplayFor(model => model.LastUpdated)</td>
    </tr>
</table>

<hr />

<h2>@Html.DisplayNameFor(_ => Model.Events)</h2>

<div>
    @using (Html.BeginForm("Comment", "Evaluations", FormMethod.Post, new { @class = "form-horitzontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(_ => _.Id)

        @Html.TextArea("message")

        <button type="submit">Add Comment</button>
    }
</div>

<table class="table">
    <thead></thead>
    <tbody>
        @foreach (var @event in Model.Events.OrderByDescending(_ => _.Timestamp))
            {
            <tr>
                <td>@Html.DisplayFor(_ => @event.Author)</td>
                <td>@Html.DisplayFor(_ => @event.Message)</td>
                <td>@Html.DisplayFor(_ => @event.Timestamp)</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @using (Html.BeginForm("Delete", "Evaluation", new { Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
    }
</div>