@model Evaluation

<!-- Edit link, if available -->
<!-- Workflow steps available -->

<fieldset>
    @Html.DisplayForModel()
</fieldset>

<h2>@Html.DisplayNameFor(_ => Model.Events)</h2>

<div>
    @using (Html.BeginForm("Comment", "Evaluation", FormMethod.Post, new { @class = "form-horitzontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(_ => _.Id)

        @Html.TextArea("message")

        <button type="submit">Add Comment</button>
    }
</div>

<table class="table">
    <thead></thead>
    <tbody>
        @foreach (var @event in Model.Events.OrderByDescending(_ => _.Timestamp))
        {
            <tr>
                <td>@Html.DisplayFor(_ => @event.Author)</td>
                <td>@Html.DisplayFor(_ => @event.Message)</td>
                <td>@Html.DisplayFor(_ => @event.Timestamp)</td>
            </tr>
        }
    </tbody>
</table>