@model IEnumerable<Evaluation>

<h2>Evaluations @Html.ActionLink("Add New", "New", "Evaluations", null, new { @class = "btn btn-default" })</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Ratee)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().ThruDate)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Delinquency)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().LastUpdated)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Rater)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SeniorRater)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var evaluation in Model)
        {
            <tr>
                <th>@Html.DisplayFor(_ => evaluation.Ratee)</th>
                <th>@Html.DisplayFor(_ => evaluation.ThruDate)</th>
                <th>@Html.DisplayFor(_ => evaluation.Delinquency)</th>
                <th>@Html.DisplayFor(_ => evaluation.LastUpdated)</th>
                <th>@Html.DisplayFor(_ => evaluation.Type)</th>
                <th>@Html.DisplayFor(_ => evaluation.Rater)</th>
                <th>@Html.DisplayFor(_ => evaluation.SeniorRater)</th>
                <th>@Html.ActionLink("Details", "Details", new { evaluation.Id })</th>
            </tr>
        }
    </tbody>
</table>