@model EvaluationListViewModel

@{
    ViewBag.Title = "Evaluations Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
    <h4>
        <small>
            @Html.DisplayNameFor(_ => Model.Delinquent): <span class="badge">@Model.Delinquent</span>
            @Html.DisplayNameFor(_ => Model.Due): <span class="badge">@Model.Due</span>
            @Html.DisplayNameFor(_ => Model.Next30): <span class="badge">@Model.Next30</span>
            @Html.DisplayNameFor(_ => Model.Next60): <span class="badge">@Model.Next60</span>
            @Html.DisplayNameFor(_ => Model.Next90): <span class="badge">@Model.Next90</span>
        </small>
    </h4>
</div>

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "Evaluations", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Include Complete", "Index", "Evaluations", new { includeComplete = true }, new { @class = "btn btn-default" })
    @Html.ActionLink("Only Delinquent (> 60 Days)", "Index", "Evaluations", new { onlyDelinquent = true }, new { @class = "btn btn-default" })
</div>

<table class="table table-striped display nowrap" id="dt" width="100%">
    <thead>
        <tr>
            <th>Details</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Ratee.Rank)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Ratee.LastName)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Ratee.FirstName)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().ThruDate)</th>
            <th data-priority="3">@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Status)</th>
            <th data-priority="2">@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Delinquency)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().LastUpdated)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Rater)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().SeniorRater)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().Reviewer)</th>
            <th>@Html.DisplayNameFor(_ => _.Evaluations.FirstOrDefault().EvaluationId)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var evaluation in Model.Evaluations)
        {
            <tr class="@(evaluation.IsDelinquent ? "alert alert-danger" : "")">
                <td>@Html.ActionLink("Details", "Details", new { evaluation.Id })</td>
                <td>@evaluation.Ratee.Rank.ShortName()</td>
                <td>@Html.RouteLink(evaluation.Ratee.LastName, "Soldier.Details", new { evaluation.Ratee.Id })</td>
                <td>@Html.RouteLink(evaluation.Ratee.FirstName, "Soldier.Details", new { evaluation.Ratee.Id })</td>
                <td>@Html.DisplayFor(_ => evaluation.ThruDate)</td>
                <td>
                    @Html.ActionLink(evaluation.Status.DisplayName(), "Index", "Evaluations", new { status = evaluation.Status })
                </td>
                <td data-sort="@evaluation.Delinquency.TotalDays">
                    @if (evaluation.Delinquency > TimeSpan.Zero)
                    {
                        <span class="label label-default">Due in @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                    else if (evaluation.IsCompleted)
                    {
                        <span class="label label-success">Completed</span>
                    }
                    else
                    {
                        <span class="label label-danger">Overdue @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                </td>
                <td data-sort="@evaluation.LastUpdated?.UtcTicks">@Html.DisplayFor(_ => evaluation.LastUpdatedHumanized)</td>
                <td>@Html.DisplayFor(_ => evaluation.Type)</td>
                <td>@Html.DisplayFor(_ => evaluation.Rater)</td>
                <td>@Html.DisplayFor(_ => evaluation.SeniorRater)</td>
                <td>@Html.DisplayFor(_ => evaluation.Reviewer)</td>
                <td>@Html.DisplayFor(_ => evaluation.EvaluationId)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>