@model IEnumerable<Evaluation>

@{ 
    ViewBag.Title = "Evaluations Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "Evaluations", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Include Complete", "Index", "Evaluations", new { includeComplete = true }, new { @class = "btn btn-default" })
    @Html.ActionLink("Only Delinquent (> 60 Days)", "Index", "Evaluations", new { onlyDelinquent = true }, new { @class = "btn btn-default" })
</div>

<table class="table table-striped  display nowrap" id="dt" width="100%" data-page-length="25">
    <thead>
        <tr>
            <th>Details</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.FirstOrDefault().Ratee)</th>
            <th data-priority="1">@Html.DisplayNameFor(_ => _.FirstOrDefault().ThruDate)</th>
            <th data-priority="3">@Html.DisplayNameFor(_ => _.FirstOrDefault().Status)</th>
            <th data-priority="2">@Html.DisplayNameFor(_ => _.FirstOrDefault().Delinquency)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().LastUpdated)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Rater)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SeniorRater)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Reviewer)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var evaluation in Model)
        {
            <tr class="@(evaluation.IsDelinquent ? "alert alert-danger" : "")">
                <td>@Html.ActionLink("Details", "Details", new { evaluation.Id })</td>
                <td>@Html.DisplayFor(_ => evaluation.Ratee)</td>
                <td>@Html.DisplayFor(_ => evaluation.ThruDate)</td>
                <td>
                    @Html.ActionLink(evaluation.Status.DisplayName(), "Index", "Evaluations", new { status = evaluation.Status })
                </td>
                <td data-sort="@evaluation.Delinquency.TotalDays">
                    @if (evaluation.Delinquency > TimeSpan.Zero)
                    {
                        <span class="label label-default">Due in @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                    else
                    {
                        <span class="label label-danger">Overdue @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                </td>
                <td data-sort="@evaluation.LastUpdated">@Html.DisplayFor(_ => evaluation.LastUpdatedHumanized)</td>
                <td>@Html.DisplayFor(_ => evaluation.Type)</td>
                <td>@Html.DisplayFor(_ => evaluation.Rater)</td>
                <td>@Html.DisplayFor(_ => evaluation.SeniorRater)</td>
                <td>@Html.DisplayFor(_ => evaluation.Reviewer)</td>
            </tr>
        }
    </tbody>
</table>
