@model IEnumerable<Evaluation>

<h2>Evaluations @Html.ActionLink("Add New", "New", "Evaluations", null, new { @class = "btn btn-default" })</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Ratee)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().ThruDate)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Delinquency)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().LastUpdated)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Type)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Rater)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SeniorRater)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var evaluation in Model)
        {
            <tr>
                <td>@Html.ActionLink("Details", "Details", new { evaluation.Id })</td>
                <td>@Html.DisplayFor(_ => evaluation.Ratee)</td>
                <td>@Html.DisplayFor(_ => evaluation.ThruDate)</td>
                <td>@Html.DisplayFor(_ => evaluation.Status)</td>
                <td>
                    @if(evaluation.Delinquency > TimeSpan.Zero)
                    {
                        <span class="label label-default">Due in @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                    else
                    {
                        <span class="label label-danger">Overdue @Html.DisplayFor(_ => evaluation.DelinquencyHumanized)</span>
                    }
                </td>
                <td>@Html.DisplayFor(_ => evaluation.LastUpdatedHumanized)</td>
                <td>@Html.DisplayFor(_ => evaluation.Type)</td>
                <td>@Html.DisplayFor(_ => evaluation.Rater)</td>
                <td>@Html.DisplayFor(_ => evaluation.SeniorRater)</td>
            </tr>
        }
    </tbody>
</table>
