<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Battery Commander</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Battery Commander", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a href="@Url.Action("List", "Soldier")"><span class="glyphicon glyphicon-user"></span>Soldiers</a></li>
                    <li><a href="@Url.Action("Show", "BattleRoster")"><span class="glyphicon glyphicon-th-list"></span>Battle Roster</a></li>
                    <li><a href="@Url.Action("List", "Qualification")"><span class="glyphicon glyphicon-check"></span>Qualifications</a></li>

                    <!--<li>@Html.ActionLink("Groups", "List", "Group")</li>-->
                    <!--<li>@Html.ActionLink("Alerts", "List", "Alert")</li>-->
                    <!--<li>@Html.ActionLink("Work Items", "List", "WorkItem")</li>-->
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://red-leg-dev.com">Red-Leg-Dev.com</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>