@model SUTA

<div class="container-fluid">

    <!-- Workflow steps available -->

    <div class="btn-toolbar" role="group">
        <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { Model.Id })</button>
        @using (Html.BeginForm("Transition", "SUTA", new { Model.Id }))
        {
            @Html.AntiForgeryToken()

            @foreach (var trigger in Model.Available_Transitions)
            {
                <button type="submit" name="trigger" value="@trigger" class="btn btn-info">@trigger.DisplayName()</button>
            }
        }
    </div>

    <hr />

    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Soldier)</td>
            <td>@Html.DisplayFor(model => model.Soldier)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.StartDate)</td>
            <td>@Html.DisplayFor(model => model.StartDate)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EndDate)</td>
            <td>@Html.DisplayFor(model => model.EndDate)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Reasoning)</td>
            <td>@Html.DisplayFor(model => model.Reasoning)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MitigationPlan)</td>
            <td>@Html.DisplayFor(model => model.MitigationPlan)</td>
        </tr>
    </table>

    <hr />

    @using (Html.BeginForm("Comment", "SUTA", FormMethod.Post, new { @class = "form-horitzontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <td colspan="3">
            <textarea rows="4" cols="100" name="message"></textarea>
            <button type="submit">Comment</button>
        </td>
    }

    <hr />

    <h2>@Html.DisplayNameFor(_ => Model.Events)</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Who</th>
                <th>What</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var @event in Model.Events.OrderByDescending(_ => _.Timestamp))
            {
                <tr>
                    <td>@Html.DisplayFor(_ => @event.Author)</td>
                    <td>@Html.DisplayFor(_ => @event.Message)</td>
                    <td>@Html.DisplayFor(_ => @event.TimestampHumanized)</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @using (Html.BeginForm("Delete", "SUTA", new { Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
        }
    </div>
</div>