@model BatteryCommander.Web.Commands.UpdateSUTARequest

@using (Html.BeginForm("Edit", "SUTA", new { Model.Id }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Body.Supervisor)
        @Html.DropDownListFor(model => model.Body.Supervisor, (IEnumerable<SelectListItem>)ViewBag.Supervisors, "-- Select the Supervisor --", new { @class = "select2 form-control" })
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Body.StartDate)
        @Html.EditorFor(model => model.Body.StartDate)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Body.EndDate)
        @Html.EditorFor(model => model.Body.EndDate)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Body.Reasoning)
        @Html.TextAreaFor(model => model.Body.Reasoning, new { cols="40", rows="5" })
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Body.MitigationPlan)
        @Html.TextAreaFor(model => model.Body.MitigationPlan, new { cols="40", rows="5" })
    </div>

    <button type="submit">Save</button>
}