@model IEnumerable<SUTA>

@{
    ViewBag.Title = "SUTA Tracker";
}

<div class="btn-group">
    @Html.ActionLink("Add New", "New", "SUTA", null, new { @class = "btn btn-default" })
</div>

<div id="suta-list">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>

        <table class="table table-striped display nowrap" id="dt" width="100%">
            <thead>
                <tr>
                    <th>Details</th>
                    <th data-priority="2">@Html.DisplayNameFor(_ => _.FirstOrDefault().Status)</th>
                    <th data-priority="1">@Html.DisplayNameFor(_ => _.FirstOrDefault().StartDate)</th>
                    <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().EndDate)</th>
                    <th data-priority="3">@Html.DisplayNameFor(_ => _.FirstOrDefault().Soldier.Rank)</th>
                    <th data-priority="1">@Html.DisplayNameFor(_ => _.FirstOrDefault().Soldier.LastName)</th>
                    <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Soldier.FirstName)</th>
                    <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().SupervisorSignature)</th>
                    <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().FirstSergeantSignature)</th>
                    <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().CommanderSignature)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var request in Model)
                {
                <tr>
                    <td>@Html.ActionLink("Details", "Details", new { request.Id })</td>
                    <td><div class="label @request.StatusClass">@Html.DisplayFor(_ => request.Status)</div></td>
                    <td>@Html.DisplayFor(_ => request.StartDate)</td>
                    <td>@Html.DisplayFor(_ => request.EndDate)</td>
                    <td>@Html.ActionLink(request.Soldier.RankHumanized, "Details", new { request.Id })</td>
                    <td>@Html.ActionLink(request.Soldier.LastName, "Details", new { request.Id })</td>
                    <td>@Html.ActionLink(request.Soldier.FirstName, "Details", new { request.Id })</td>
                    <td><input type="checkbox" @(string.IsNullOrWhiteSpace(request.SupervisorSignature) ? "" : "checked") disabled="disabled" /></td>
                    <td><input type="checkbox" @(string.IsNullOrWhiteSpace(request.FirstSergeantSignature) ? "" : "checked") disabled="disabled" /></td>
                    <td><input type="checkbox" @(string.IsNullOrWhiteSpace(request.CommanderSignature) ? "" : "checked") disabled="disabled" /></td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
