@model BatteryCommander.Web.Commands.AddSUTARequest

<div class="alert alert-info">
    Use this form to submit a Substitute Unit Training (SUTA) request to your chain of command.
</div>

<div class="alert alert-warning">
    Note: All requests are subject to mission requirements and Commander's discretion!
</div>

@using (Html.BeginForm("New", "SUTA", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Soldier)
        @Html.DropDownListFor(model => model.Soldier, (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select a Soldier --", new { @class = "select2" })
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.StartDate)
        @Html.EditorFor(model => model.StartDate)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.EndDate)
        @Html.EditorFor(model => model.EndDate)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.Reasoning)
        @Html.TextAreaFor(model => model.Reasoning)
    </div>

    <div class="form-group form-group-lg">
        @Html.DisplayNameFor(model => model.MitigationPlan)
        @Html.TextAreaFor(model => model.MitigationPlan)
    </div>

    <button type="submit">Submit</button>
}

