@model BatteryCommander.Web.Commands.AddSUTARequest

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@if (ViewBag.Id != null)
{
    <div class="alert alert-success">
        You SUTA request has been submitted, reference @Html.ActionLink("#" + (int)ViewBag.Id, "Details", "SUTA", new { ViewBag.Id })
    </div>
}

<div class="alert alert-info">
    Use this form to submit a Substitute Unit Training (SUTA) request to your chain of command.
</div>

@using (Html.BeginForm("New", "SUTA", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="form-group">
        <label for="Soldier">Soldier</label>
        @Html.DropDownListFor(model => model.Soldier, (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select a Soldier --", new { @class = "select2 form-control" })
    </div>

    <div class="form-group">
        <label for="Soldier">Supervisor</label>
        @Html.DropDownListFor(model => model.Supervisor, (IEnumerable<SelectListItem>)ViewBag.Soldiers, "-- Select their Supervisor --", new { @class = "select2 form-control" })
    </div>

    <div class="form-group">
        <label for="StartDate">Start Date</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <input id="StartDate" name="StartDate" type="date" placeholder="mm/dd/yyyy"aria-describedby="StartDateHelpBlock" required="required" class="form-control" style="width:100%">
        </div>
        <span id="StartDateHelpBlock" class="form-text text-muted">Select the First Excused Date(e.g. First Day of Drill)</span>
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-calculator"></i>
                </div>
            </div>
            <input id="EndDate" name="EndDate" type="date" placeholder="mm/dd/yyyy" class="form-control" aria-describedby="EndDateHelpBlock" required="required">
            <input id="EndDate" name="EndDate" type="date" placeholder="mm/dd/yyyy" class="form-control" aria-describedby="EndDateHelpBlock" required="required" style="width:100%">
        </div>
        <span id="EndDateHelpBlock" class="form-text text-muted">Select the End Date (e.g. Last Day Missed)</span>
    </div>

    <div class="form-group">
        <label for="Reasoning">Reasoning</label>
        <span id="ReasoningHelpBlock" class="form-text text-muted">Explain the Reason for the SUTA Request in an appropriate level of detail.</span>
        <textarea id="Reasoning" name="Reasoning" cols="50" rows="4" class="form-control" aria-describedby="ReasoningHelpBlock" required="required"></textarea>

    </div>

    <div class="form-group">
        <label for="MitigationPlan">Mitigation</label>
        <span id="MitigationPlanHelpBlock" class="form-text text-muted">What is the impact to the Battery Mission? How are we mitigating any impact? Have we coordinated pick-up or make-up periods?</span>
        <textarea id="MitigationPlan" name="MitigationPlan" cols="50" rows="5" class="form-control" aria-describedby="MitigationPlanHelpBlock"></textarea>

    </div>


    <div class="alert alert-warning">
        Disclaimer: ALL requests are subject to mission requirements and Commander's approval.
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Submit for Review</button>
    </div>
}